build
*.iml
*.log
.gradle
.idea
/.idea
local.properties

*.pydevproject
.project
.metadata
bin/**
bin
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

.DS_Store

src_gen